@import "../../../../color-palette";

.navbar-search-input {
  width: 100%;
  margin-right: 20px;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid;
  @include theme-aware("border-color", "color-line");
  @include theme-aware("background-color", "input-background");
  &:hover {
    @include theme-aware("border-color", "text-main");
  }
}
