@import "../../../../../color-palette";
@import "../../../../../mquery";

.comment-main-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.comment-header {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  @include theme-aware("color", "text-muted");
}

.comment-header-username {
  @include theme-aware("color", "text-main");
  font-weight: 500;
}

.comment-container {
  width: 100%;
}

.comment-content {
  font-size: 14px;
  font-weight: 400;
  @include theme-aware("color", "text-main");

  p {
    margin: 0;
  }
}

.bottom-bar {
  cursor: pointer;
}

.comment-bottom-bar {
  margin-bottom: 10px;
}

.comment-sidebar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.comment-side-line {
  height: 100%;
  width: 2px;
  @include theme-aware("background-color", "color-line");
  margin-top: -14px;
  margin-right: 3px;
  margin-left: 3px;
  cursor: pointer;

  &:hover {
    @include theme-aware("background-color", "text-main");
    width: 2px;
  }
}

.comment-expand-button {
  color: $link-color;
}

.expand-button-container {
  width: 42px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.comment-text-editor-container {
  width: 100%;
  max-width: 90%;
  margin-top: 5px;
  border: 1px solid;
  border-radius: 4px;
  @include theme-aware("border-color", "color-line");
  margin-bottom: 32px;
}

.editor-sideline-container {
  height: 220px;
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
}

.text-editor-side-line {
  height: 83%;
  width: 2px;
  @include theme-aware("background-color", "color-line");
  margin-top: 5px;
  margin-right: 15px;
  margin-left: 15px;
  cursor: pointer;

  &:hover {
    @include theme-aware("background-color", "text-main");
    width: 2px;
  }
}
