@import "../../color-palette";

.subreddit-dropdown-icon {
  max-height: 22px;
  max-width: 22px;
  border-radius: 100%;
  fill: $link-color;
}

.subreddit-dropdown-icon-default {
  @extend .subreddit-dropdown-icon;
  box-sizing: border-box;
  fill: #ffffff;
  border: 1px solid #ffffff;
  padding: 2px;
}

.subreddit-dropdown-choose-community {
  height: 22px;
  width: 22px;
  border: 1px solid;
  border-style: dashed;
  border-radius: 100%;
  @include theme-aware("background-color", "color-card");
  @include theme-aware("border-color", "highlight-selection");
}
