$themes: (
  light: (
    color-background: #dae0e6,
    color-card: #ffffff,
    color-line: #ccc,
    text-main: #1c1c1c,
    text-muted: #787c7e,
    text-flair: #1a1a1b,
    input-background: #ffffff,
    highlight-selection: #0079d3,
    highlight-selection-hover: #3394dc,
    highlight-selection-text-color: #ffffff,
    default-profile-picture-background: #d7dfe2,
  ),
  dark: (
    color-background: #030303,
    color-card: #1a1a1b,
    color-line: #343536,
    text-main: #d7dadc,
    text-muted: #818384,
    text-flair: #ffffff,
    input-background: #272729,
    highlight-selection: #d7dadc,
    highlight-selection-hover: #ffffff,
    highlight-selection-text-color: #1a1a1b,
    default-profile-picture-background: #818384,
  ),
);

$link-color: #0079d3;
$link-color-light: #24a0ed;
$highlight-color: #ff4500;
$error: #ea0027;
$nsfw: #ff585b;
$text-editor-button-color: #878a8c;
$text-editor-button-color-hover: #dae0e6;
$upvote-color: #ff3300;
$downvote-color: #7193ec;

@mixin theme-aware($key, $color) {
  @each $theme-name, $theme-color in $themes {
    .theme-#{$theme-name} & {
      #{$key}: map-get(map-get($themes, $theme-name), $color);
    }
  }
}
