$themes: (
  light: (
    color-background: #dae0e6,
    color-card: #ffffff,
    color-line: #ccc,
    text-main: #1c1c1c,
    text-muted: #787c7e,
    text-flair: #1a1a1b,
    input-background: #ffffff,
    highlight-selection: #0079d3,
    highlight-selection-hover: #3394dc,
    highlight-selection-text-color: #ffffff,
  ),
  dark: (
    color-background: #030303,
    color-card: #1a1a1b,
    color-line: #343536,
    text-main: #d7dadc,
    text-muted: #818384,
    text-flair: #ffffff,
    input-background: #272729,
    highlight-selection: #d7dadc,
    highlight-selection-text-color: #1a1a1b,
  ),
);

$highlight-color: #ff4500;
$error: #ea0027;
@mixin theme-aware($key, $color) {
  @each $theme-name, $theme-color in $themes {
    .theme-#{$theme-name} & {
      #{$key}: map-get(map-get($themes, $theme-name), $color);
    }
  }
}
