@import "./color-palette";

button {
  padding: 10px 16px;
  max-height: 32px;
  font-size: 12px;
  font-weight: 700;
  border: 1px solid;
  border-radius: 4px;
  cursor: pointer;
  &:focus {
    outline: 0;
  }
}

input {
  font-weight: 400;
  line-height: 21px;
  border: 1px solid;
  border-radius: 4px;
  margin-bottom: 5px;
  @include theme-aware("border-color", "color-line");
  @include theme-aware("background-color", "color-card");
  @include theme-aware("color", "text-main");
  &:focus {
    outline: none !important;
    border: 1px solid;
  }
}

textarea {
  @include theme-aware("border-color", "color-line");
  @include theme-aware("background-color", "color-card");
  @include theme-aware("color", "text-main");

  border: 1px solid;
  border-radius: 4px;
}

.sidebar-main-button {
  @include theme-aware("background-color", "color-card");
  @include theme-aware("border-color", "highlight-selection");
  @include theme-aware("color", "highlight-selection");

  &:hover {
    @include theme-aware("color", "highlight-selection-hover");
    @include theme-aware("border-color", "highlight-selection-hover");
  }
  width: 100%;
}

.sidebar-secondary-button {
  @include theme-aware("background-color", "highlight-selection");
  @include theme-aware("border-color", "highlight-selection");
  @include theme-aware("color", "input-background");
  &:hover {
    @include theme-aware("background-color", "highlight-selection-hover");
  }
  width: 100%;
}

.nsfw-tag {
  background-color: $nsfw;
  color: white;
  border-radius: 4px;
  font-size: 12px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 3px;
  padding-right: 3px;
}
