@import "../../../color-palette";
@import "../../../mquery";

.create-post-container {
  box-sizing: border-box;
  padding: 24px;
  width: 90%;
  @include mquery(960) {
    width: 60%;
  }
  @include mquery(1200) {
    width: 45%;
  }
}

.create-post-main-title {
  @include theme-aware("color", "text-main");
  font-weight: 500;
  font-size: 18px;
}

.create-post-select-container {
  width: 300px;
  margin-bottom: 10px;
}

.create-post-form-container {
  @include theme-aware("background-color", "color-card");
  box-sizing: border-box;
  padding: 15px;
  input {
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
  }

  button {
    width: fit-content;
    margin-right: 15px;
  }
}

.buttons-container {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.create-post-link-input {
  height: 66px;
}
