@import "../../../../../color-palette";
@import "../../ui/SubredditSidebar.scss";

.sub-description {
  @include theme-aware("color", "text-main");
  font-size: 14px;
  word-wrap: break-word;
  hyphens: auto;
}

.member-count {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-weight: 500;
  @include theme-aware("color", "text-main");
}

.member-quantity {
  font-size: 16px;
}

.member-text {
  font-size: 12px;
}

.sub-create-date {
  margin-bottom: 20px;
  font-size: 14px;
  @include theme-aware("color", "text-main");
}

.sub-nsfw {
  color: $nsfw;
  font-size: 14px;
  margin-bottom: 20px;
  .tag {
    font-size: 12px;
    border: 1px solid $nsfw;
    border-radius: 4px;
    padding: 2px;
  }
}
