@import "../../mquery";

.main-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;

  @include mquery(700) {
    padding: 24px;
  }
}
