.sub-sidebar-main-container {
  box-sizing: border-box;
  padding: 12px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  border: 1px solid;
  @include theme-aware("background-color", "color-card");
  @include theme-aware("border-color", "color-line");
  margin-bottom: 20px;
}

.sub-sidebar-header {
  @include theme-aware("color", "text-muted");
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 20px;
}
